<html>
  <head>
    <meta charset="utf-8">
    <title>Status of {{ results["release"] }} composes</title>
    <style>
      h1, p {
	font-family: arial, sans-serif;
      }

      table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
      }

      td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
      }

      tr:nth-child(even) {
	background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Status of {{ results["release"] }} composes</h1>
    <p>Status updated: {{ results["today"] }}</p>
    <table>
      <thead>
	<tr>
          <th>Type</th>
	  <th>ID</th>
	  <th>Last Good Date</th>
	  <th>Age (days)</th>
      	</tr>
      </thead>
      <tbody>
	{% for compose_type, compose_status in results["compose_types"].items() -%}
	<tr>
          <td>{{ compose_type }}</td>
          <td>
            <a href='{{ compose_status["link"] }}'>{{ compose_status["id"] }}</a>
	  </td>
          <td>{{ compose_status["date"] }}</td>
          <td>{{ compose_status["age"] }}</td>
	</tr>
	{% endfor -%}
      </tbody>
    </table>
  </body>
</html>
